<header>
    <div class="header-wrapper">

    </div>
    <div class="main_header">
        <a href="/" class="main_header_logo" aria-label="Zurich Renegades Football Website">
            <img src="./assets/images/logo.png" alt="Zurich Renegades Logo" loading="eager">
        </a>
        <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <div class="nav-separator"></div>
            <li><a href="/about">About</a></li>
            <div class="nav-separator"></div>
            <li><a href="/services">Services</a></li>
            <div class="nav-separator"></div>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </nav>
        <div class="search_icon"></div>
        <div class="header_side_filler"></div>
    </div>
    <div class="sub-header">
        
    </div>
</header>