<header>
    <div class="header-wrapper">

    </div>
    <div class="main_header">
        <a href="/" class="main_header_logo" aria-label="Zurich Renegades Football Website">
            <img src="../assets/images/renegades_logo_full.png" alt="Zurich Renegades Logo" loading="eager">
        </a>
        <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <div class="nav-separator"></div>
            <li><a href="/about">Renegades</a></li>
            <div class="nav-separator"></div>
            <li><a href="/news.html">News</a></li>
            <div class="nav-separator"></div>
            <li><a href="/sponsoren_partner.html">Sponsoren & Partner</a></li>
            <div class="nav-separator"></div>
            <li><a href="/gonner.html">Gönner</a></li>
            <div class="nav-separator"></div>
            <li><a href="/medien.html">Medien</a></li>
            <div class="nav-separator"></div>
            <li><a href="/shop.html">Shop</a></li>
        </ul>
        </nav>
        <div class="search_icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
        </div>
        <div class="header_side_filler"></div>
    </div>
    <div class="sub-header">
        <div class="sub-header-title">
            <span>ZURICH RENEGADES</span>
        </div>
        <nav class="sub-navbar">
            <ul class="sub-nav-list">
                <li><a href="#">Gamedays</a></li>
                <li><a href="#">Flag Teams</a></li>
                <li><a href="#">Tackle Teams</a></li>
                <li><a href="#">Stats</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </nav>
    </div>
</header>