:root {
    --primary-color: #1c3d7d;
    --secondary-color: #137abf;
    --primary-white: #ffffff;
    --text-dark: #111111;
    --border-light: #e0e0e0;
    --footer-dark: #121212;

    --main-font: 'Antonio', sans-serif;
    --secondary-sans-font: 'Montserrat', sans-serif;
    --main-text-font: 'Open Sans', sans-serif;

    --fontsize-navigation-desktop: 1.3125rem;
    --separator-size-navigation-desktop: 1.4rem;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-text-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex: 1 0 auto;
}

/* Header Containers */

header {
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main_header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    height: 80px;
    padding-left: 200px;
    padding-right: 8rem;
    border-bottom: 4px solid var(--secondary-color);
}

.header-wrapper {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: var(--primary-white);
}

.sub-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    background-color: var(--primary-white);
    height: 50px;
    padding: 1rem;
}

/* Logo Styling */
.main_header_logo {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-white);
    height: 130px;
    width: 130px;
    z-index: 10;

    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.main_header_logo img {
    width: 80%;
    height: auto;
}

/* Main Navigation Bar */

.navbar {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li a {
    display: block;
    padding: 0 1rem;
    color: var(--primary-white);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--main-font);
    font-size: var(--fontsize-navigation-desktop);
    letter-spacing: 0.5px;
}

.nav-list li a:hover {
    color: var(--secondary-color);
}

.nav-separator {
    width: 1px;
    height: var(--separator-size-navigation-desktop);
    background-color: var(--primary-white);
}

.search_icon {
    cursor: pointer;
    margin-left: 1rem;
}

/* Sub Navigation Bar */
.sub-header-title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-family: var(--secondary-sans-font);
}

.sub-nav-list {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.sub-nav-list li a {
    color: var(--text-dark);
    text-decoration: none;
    font-size: var(--fontsize-navigation-desktop);
    font-weight: 500;
    font-family: var(--main-font);
}

/* Footer Container */
.site-footer {
    flex-shrink: 0;
    background-color: var(--footer-dark);
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem 2rem;
}

/* Sponsor Logos */
.sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.sponsor-logos img {
    max-height: 4rem;
}

.sponsor-logos a {
    padding: 1rem;
}

.sponsor-logos a:hover {
    background-color: var(--secondary-color);
}

/* Middle Row: Central Branding */
.footer_center {
    text-align: center;
    color: var(--primary-white);
    line-height: 1.4;
}

.footer_center .footer_branding_title {
    font-family: "Quantico", sans-serif;
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

/* Footer Socials */
.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footer_socials img {
    height: 40px;
    width: 40px;
    filter: brightness(0) invert(1) grayscale(1);
}

.footer_socials a:hover {
    background-color: var(--secondary-color);
}

/* Bottom Row: Legal Links */
.footer_legal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem 1rem;
    font-size: 0.8rem;
}

.footer_legal a {
    color: var(--primary-white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_legal a:hover {
    color: var(--secondary-color)
}

.footer_legal .divider {
    color: var(--primary-white);
}